<!DOCTYPE html>
<html>
  <head>
    <title>FlowerStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    
</p>
   <div id="templatemo_container">
<div id="templatemo_top_panel">
    	<div id="templatemo_language_section">
			<a href="#"><img src="/assets/templatemo_flag_01.gif" alt="flag 1" /></a>
            <a href="#"><img src="/assets/templatemo_flag_02.gif" alt="flag 2" /></a>
            <a href="#"><img src="/assets/templatemo_flag_03.gif" alt="flag 3" /></a>
            <a href="#"><img src="/assets/templatemo_flag_04.gif" alt="flag 4" /></a>
            <a href="#"><img src="/assets/templatemo_flag_05.gif" alt="flag 5" /></a>
        </div>
        <div id="templatemo_shopping_cart">
       	    Shopping Cart <span>(<a href="#">3 items</a>)</span>      
        </div>
  </div>
     
     <div id="templatemo_header">
     	<img src="/assets/templatemo_site_header.jpg" alt="Flower Shop" />
     </div>
     
     <div id="templatemo_banner">
     	<a href="#"><img src="/assets/templatemo_banner_image.jpg" alt="Flower Shop - Free Web Template" title="Flower Shop - Free Web Template" border="0" /></a>     </div>
     
<div id="templatemo_menu_panel">
        <ul>
            <li><a href="/gallery/index" class="current">Home</a></li>
            <%# <li><a href="#">Features</a></li> %>
            <li><a href="#">Gallery</a></li>
            <li>
            <% if session[:admin] %>
            <a href="/admin/logout"> Admin Logout</a>
            <% else %>
            <a href="/admin/login"> Admin Login</a>
            <% end %>
            </li>  


            <li><% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
               <li> <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %> |</li>
                <li><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-link"  %>|</li>
                <% else %>
                <li><%= link_to "Sign up", new_user_registration_path, class: "navbar-link"  %> ||</li>
                <li><%= link_to "Login", new_user_session_path, class: "navbar-link"  %>|</li>
              <% end %></li>
            
            
                                
        </ul> 
    </div> <!-- end of menu -->
    
    <div id="templatemo_content">
    
    	<div id="templatemo_content_left">
        	 <div id="footer_left">
            <img src="/assets/mastercard.gif" alt="Master Card" /><img src="/assets/visa.gif" alt="Visa Card" /><img src="/assets/paypal.gif" alt="PayPal" /><img src="/assets/verisignsecured.gif" alt="Verisign Secured" />
        </div>
            <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%=yield%>
<p class="navbar-text float-right">

            
             
             
             
			<div class="cleaner_with_height">&nbsp;</div>
        </div> <!-- end of ocntent left -->
        
        <div id="templatemo_content_right">
        	<div class="templatemo_right_section">
                
            	<h4>Search</h4>
                <div class="templatemo_right_section_content">
                    <%= form_with url: "/gallery/search", method: :get do |form| %>
                        <%= form.label :query, "Search for:" %>
                        <%= form.text_field :keyword %>
                        <%= form.submit "Search" %>
                    <% end %>
                 </div>
            </div>
            
            <div class="templatemo_right_section">
            	<h4>Categories</h4>
                <div class="templatemo_right_section_content">
                    <ul>
                        <li><a href="#">Artificial and Silk</a></li>
                        <li><a href="#">Dried and Preserved</a></li>
                        <li><a href="#">Floral</a></li>
                        <li><a href="#">Fresh Cut</a></li>
                        <li><a href="#">Gardens</a></li>
                        <li><a href="#">Gifts</a></li>
                        <li><a href="#">Nurseries</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Weddings</a></li>
                        <li><a href="#">Wholesale</a></li>
                    </ul>
                </div>
            </div>

            <div class="templatemo_right_section">
            	
            	<div class="templatemo_right_section_content">
                    <a href="http://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8" border="0" /></a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3"><img style="border:0;width:88px;height:31px"  src="http://jigsaw.w3.org/css-validator//assets/vcss-blue" alt="Valid CSS!" vspace="8" border="0" /></a>
				</div>
            </div>
        </div> <!-- end of content right-->
        
        <div class="cleaner">&nbsp;</div>
    </div>
    
     <div id="templatemo_footer_panel">
       
        <div id="footer_right">
            Copyright © 2024 <a href="#">Flower Store</a> <!-- Credit: www.templatemo.com -->
        </div>
        
        <div class="cleaner">&nbsp;</div>
    </div>
</div>
<!--  Free CSS Template | Designed by TemplateMo.com  --> 
<!-- templatemo 076 flower shop -->
<!-- 
Flower Shop Template 
http://www.templatemo.com/preview/templatemo_076_flower_shop 
-->
  </body>
</html>
